/* @media (prefers-color-scheme: dark) {
    .navbar {
        background-color: blue;
        color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(43,8,133,1) 65%, rgba(0,129,255,1) 100%);
    }
    
    .subnav {
        background-color: blue;
        color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(43,8,133,1) 65%, rgba(0,129,255,1) 100%);
    }
} */


[data-bs-theme='light'] .alert-info {
    --bs-alert-color: #000000;
    --bs-alert-bg: #ddf4ff;
    --bs-alert-border-color: #0969da;
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

[data-bs-theme='light'] .alert-warning {
    --bs-alert-color: #000000;
    --bs-alert-bg: #fffde9;
    --bs-alert-border-color: #cfc122;
    --bs-alert-link-color: var(--bs-warning-text-emphasis);

}

[data-bs-theme='light'] .alert-danger {

    --bs-alert-color: #000000;
    --bs-alert-bg: #ffebe9;
    --bs-alert-border-color: #cf222e;
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

.typelist.derived {
    display: none;
}

.form-control {
    border-radius: 0;
}

footer {
    text-align: center;
}

.navbar-brand {
    gap: 5px;
}

/* .alert-info h5:before {
    content: "" !important;
    display: none;
}

.alert-warning h5:before {
    content: "" !important;
    display: none;
}

.alert-danger h5:before {
    content: "" !important;
    display: none;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.alert {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    border-radius: 10px;
}

.navbar {
    box-shadow:rgb(34 34 34 / 0%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.subnav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-image: linear-gradient(109.6deg, rgba(39, 142, 255, 1) 11.2%, rgba(98, 113, 255, 0.78) 100.2%);
}

/* .btn.border-0.dropdown-toggle {
    color: white;
} */

[data-bs-theme='light']  code {
    border-radius: 7px;
    color: black;
    background-color: #f6f6f6;
    padding: 3px 7px;
}

[data-bs-theme='dark']  code {
    color: #ffffff;
    border-radius: 7px;
    background-color: #3f3f3f;
    padding: 3px 7px;
}


[data-bs-theme='light']  .navbar {
    background-color: #f8f8f8;
}
[data-bs-theme='dark']  .navbar {
    background-color: #4502d7;
}
