/* @media (prefers-color-scheme: dark) {
    .navbar {
        background-color: blue;
        color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(43,8,133,1) 65%, rgba(0,129,255,1) 100%);
    }
    
    .subnav {
        background-color: blue;
        color: white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 23%, rgba(43,8,133,1) 65%, rgba(0,129,255,1) 100%);
    }
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
}

[data-bs-theme='light'] .alert-info {
    --bs-alert-color: ##515151;
    --bs-alert-bg: #e8f8ff;
    --bs-alert-border-color: #add2ff;
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

[data-bs-theme='light'] .alert-warning {
    --bs-alert-color: ##515151;
    --bs-alert-bg: #fffcf7;
    --bs-alert-border-color: #d2df00;
    --bs-alert-link-color: var(--bs-warning-text-emphasis);

}

[data-bs-theme='light'] .alert-danger {

    --bs-alert-color: ##515151;
    --bs-alert-bg: #ffebe9;
    --bs-alert-border-color: #ffd0d3;
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}




[data-bs-theme='dark'] .alert-info {
    --bs-alert-color: rgb(255 255 255);
    --bs-alert-bg: rgb(31 38 55);
    --bs-alert-border-color: rgb(0 104 177);
    --bs-alert-link-color: var(--bs-info-text-emphasis);
}

[data-bs-theme='dark'] .alert-warning {
    --bs-alert-color: rgb(255 255 255);
    --bs-alert-bg: rgb(35 34 15);
    --bs-alert-border-color: rgb(119 99 0);
    --bs-alert-link-color: var(--bs-warning-text-emphasis);
}

[data-bs-theme='dark'] .alert-danger {
    --bs-alert-color: rgb(255 255 255);
    --bs-alert-bg: rgb(39 16 16);
    --bs-alert-link-color: var(--bs-danger-text-emphasis);
}

hr {
    color: #afafaf;
}
.typelist.derived {
    display: none;
}

/* .form-control {
    border-radius: 0;
} */

footer {
    text-align: center;
}

.navbar-brand {
    gap: 5px;
}

/* .alert-info h5:before {
    content: "" !important;
    display: none;
}

.alert-warning h5:before {
    content: "" !important;
    display: none;
}

.alert-danger h5:before {
    content: "" !important;
    display: none;
} */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap'); */


/* body {
    font-family: 'Open Sans', sans-serif;
} */

/* Override heading sizes */
h1, h2, h3, h4, h5, h6 {
    font-size: inherit !important;
}

/* Optionally adjust the hierarchy manually */
h1 { font-size: 2em !important; }
h2 { font-size: 1.75em !important; }
h3 { font-size: 1.5em !important; }
h4 { font-size: 1.25em !important; }
h5 { font-size: 1em !important; }
h6 { font-size: 0.875em !important; }

/* Optional: adjust navbar and TOC too */
.navbar, .toc {
    font-size: 1em !important;
}

.alert {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
    border-radius: 10px;
}

.navbar {
    box-shadow:rgb(34 34 34 / 0%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}

.subnav {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-image: linear-gradient(109.6deg, rgba(39, 142, 255, 1) 11.2%, rgba(98, 113, 255, 0.78) 100.2%);
}

/* .btn.border-0.dropdown-toggle {
    color: white;
} */

[data-bs-theme='light']  code {
    border-radius: 7px;
    color: #575757;
    background-color: #f6f6f6;
    padding: 3px 7px;
}

[data-bs-theme='dark']  code {
    color: #ffffff;
    border-radius: 7px;
    background-color: #3f3f3f;
    padding: 3px 7px;
}


[data-bs-theme='light']  .navbar {
    background-color: #f8f8f8;
}
[data-bs-theme='dark']  .navbar {
    background-color: #0065fb;
}

[data-bs-theme='light']  body {
    color: #555555;
}

[data-bs-theme='dark']  body {
    background-color: #161616;
    color: white;
}



[data-bs-theme='light'] .navbar-brand {
    color: #656565;
}
/* [data-bs-theme='light'] a {
    color: rgb(101 142 225);
}
 */



@media print {
    body {
        font-family: 'Open Sans', sans-serif;
        font-size: x-small !important;
    }

    /* Override heading sizes */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit !important;
    }

    /* Optionally adjust the hierarchy manually */
    h1 {
        font-size: 2em !important;
    }

    h2 {
        font-size: 1.75em !important;
    }

    h3 {
        font-size: 1.5em !important;
    }

    h4 {
        font-size: 1.25em !important;
    }

    h5 {
        font-size: 1em !important;
    }

    h6 {
        font-size: 0.875em !important;
    }

    /* Optional: adjust navbar and TOC too */
    .navbar,
    .toc {
        font-size: 1em !important;
    }
}